---
/* 
Custom Props that can be passed in:
*/
const { 
  rowGap = '0',
  colGap = '0',
  container = true, // true or false
} = Astro.props


---

<div class={`${container && 'container'}`}>

  <slot />

</div>


<style define:vars={{ rowGap, colGap }} >

div {
  display : grid;
  row-gap : var(--rowGap);
  column-gap : var(--colGap);
}

@media screen and (min-width : 750px) {
  div {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

</style>