---
import Layout from '../layouts/Layout.astro';
import HeroCentered from '../components/hero/centered/Hero.astro';
import Nav from '../components/nav/top-fixed/Nav.astro';
import Skip from '../components/SkipToContent/Skip.astro';
---

<Layout>

	<Skip />

	<Nav activePage="Home" />

	<HeroCentered />

	<main id="content">
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
		This is the main content<br><br><br><br><br>
	</main>

</Layout>

<style>
	
</style>
