---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/centered/Hero.astro';
import Nav from '../components/nav/top-fixed/Nav.astro';

---

<Layout title="Home">


	<Nav activePage="Home 3" />

	<Hero />

	<main id="content">
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
	</main>

</Layout>

<style>
	
</style>
