---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/hero/two-columns/Hero.astro';
---

<Layout 
	title="Home"
	activePage="Home 2"
>


	<Hero />

	<main id="content">
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
		This is the main content<br>
	</main>

</Layout>

<style>
	
</style>
