---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/hero/overlay-wide/Hero.astro';
import EqualColumns from '../sections/columns/EqualColumns.astro';
import EvenColumns from '../sections/columns/EvenColumns.astro';
import Card from '../components/card/Card.astro';
---

<Layout 
	title="Coolsite.com - Home Page"
	activePage="Home"
>



<Hero />



<main id="content">



<section class="container">

	<h2 class="pxd">Equal Columns</h2>

	<EqualColumns rowGap="1rem" colGap="1rem">

		<Card 
			img="/img-small-2.jpg"
			heading="Dolor sit amet"
		>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aspernatur iusto optio nobis perspiciatis dolores.
		</Card>

		<Card 
			img="/img-small-3.jpg"
			heading="Drferendis nobis repellendus"
		>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis nobis repellendus facilis maiores, quod necessitatibus similique recusandae in sit obcaecati dolorum, minus, exercitationem adipisci! 
		</Card>

		<Card 
			img="/img-small-4.jpg"
			heading="Duod commodi asperiores"
		>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab sit qui ipsam, laboriosam earum temporibus sed, veritatis, quod commodi asperiores officiis minus animi totam ad. Excepturi non veniam sequi porro.
		</Card>

	</EqualColumns>

</section>



<section class="container">

	<h2 class="pxd">Even Columns</h2>

	<EvenColumns rowGap="1rem" colGap="1rem">

		<Card 
			img="/img-small-1.jpg"
			heading="Lorem ipsum"
		>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus nostrum placeat esse aliquid soluta autem sapiente vel ipsa facere velit!
		</Card>

		<Card 
			img="/img-small-2.jpg"
			heading="Ducimus nostrum placeat"
		>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, aspernatur iusto optio nobis perspiciatis dolores.
		</Card>

		<Card 
			img="/img-small-3.jpg"
			heading="Possimus, aspernatur iusto"
		>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis nobis repellendus facilis maiores, quod necessitatibus similique recusandae in sit obcaecati dolorum, minus, exercitationem adipisci! Libero id culpa, earum voluptates ut qui laudantium asperiores, sapiente nam in voluptas numquam dignissimos delectus.
		</Card>

		<Card 
			img="/img-small-4.jpg"
			heading="Libero id culpa, earum"
		>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab sit qui ipsam, laboriosam earum temporibus sed, veritatis, quod commodi asperiores officiis minus animi totam ad. Excepturi non veniam sequi porro.
		</Card>

	</EvenColumns>

</section>



<section class="container-xs default-section">

	<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, iure.</h2>

	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quia quasi libero, pariatur iusto quod aut sint modi suscipit harum earum repellat? Neque possimus eum cumque, est, eligendi libero debitis, voluptas vitae distinctio ullam nam maxime dicta porro excepturi? Quidem nesciunt et cum voluptas aliquam repellat cumque dolore harum ratione?
	</p>

	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, harum cupiditate veritatis corporis maxime ducimus natus mollitia commodi velit corrupti.
	</p>

	<button>Lets Go</button>

</section>



</main>



</Layout>





<style>

section.default-section {
	padding-inline: var(--spacing-x-default);
	padding-block: var(--spacing-y-default);
}
	
</style>
