---

import MobileButton from '../../mobile-menu-btn/MobileButton.astro'
import Logo from '../../logo/Logo.astro'

const { activePage } = Astro.props

const pages = [
  { title: 'Home',    link: '/'                       },
  { title: 'About',   link: '/about'                  },
  { title: 'Contact', link: '/contact'                },
  { title: 'More',    link: '#',       subMenu: true },
  { title: 'SubLink', link: '/',       subLink: true },
]

const socials = [
  { site :  'Facebook',    link : 'https://facebook.com', icon: '' },
  { site :  'Twitter',    link : 'https://Twitter.com',   icon: '' },
  { site :  'Instagram',  link : 'https://instagram.com', icon: '' },
  { site :  'TikTok',     link : 'https://tiktok.com',    icon: '' },
]
---

<nav>

  <Logo />

  <MobileButton />

  <ul>
    { 
      pages.map( page => <li><a href={page.link}>{page.title}</a></li> )
    }
  </ul>

      
  <!-- <ul class="nav-links">
      <li><a href="index.php" class="nav-link <?php echo ($page == 'home') ? 'nav-link-active' : ''; ?> ">Home</a></li>
      <li><a href="fonts.php" class="nav-link <?php echo ($page == 'fonts') ? 'nav-link-active' : ''; ?> ">Font Demo</a></li>
      <li><a href="about.php" class="nav-link <?php echo ($page == 'about') ? 'nav-link-active' : ''; ?> ">About</a></li>
      <li>
          <a href="#" class="nav-link nav-dropdown-link <?php echo ($page == 'link') ? 'nav-link-active' : ''; ?> ">More</a>
          <ul class="nav-links-submenu">
              <li><a href="#" class="nav-sub-link">Link</a></li>
              <li><a href="#" class="nav-sub-link">Link Link</a></li>
              <li><a href="#" class="nav-sub-link">Link</a></li>
              <li><a href="#" class="nav-sub-link">Link Link</a></li>
              <li><a href="#" class="nav-sub-link">Link</a></li>
          </ul>
      </li>
      <li><a href="contact.php" class="nav-link-cta <?php echo ($page == 'contact') ? 'nav-link-active' : ''; ?> ">Contact</a></li>
  </ul>

  <ul class="nav-socials">
      <li><a href="#" class="nav-social-link"><img src="./img/social-icons/facebook.svg"></a></li>
      <li><a href="#" class="nav-social-link"><img src="./img/social-icons/instagram.svg"></a></li>
      <li><a href="#" class="nav-social-link"><img src="./img/social-icons/tiktok.svg"></a></li>
  </ul> -->

</nav>

<style>
  
ul {
    display : none;
    align-items: center;
    gap : 1rem;
    opacity: 0.8;
}

@media screen and (min-width : 900px) {
  ul { display : flex; }
}



li {
    position: relative;
}

</style>